{%
    set nav_overview = ({
        "overview_songs": "Songs",
        "overview_players": "Players",
        "overview_event_occs": "Events",
        "overview_event_series": "Series",
        "overview_performance_videos": "Videos"
    })
%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>

    <style>
      .page-header {
          padding-top: 25px;
      }
        
      .sticky_thead {
          position: sticky;
          top: 40px;
          background-color: #ffffff;
          z-index: 1
      }

    </style>

  </head>

  <body>
    <nav>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>  
              <a class="navbar-brand" href="{{ url_for('index') }}">Jamming DB</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">

                {% for main_nav_display, pages in index.items() %}
                  {% set active = page_name in pages['nav_pages'] %}
                  {% if "dropdown" in pages %}
                    {% set dropdown = pages["dropdown"] %}
                    <li class="dropdown{% if active %} active {% endif %}">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ main_nav_display }}
                        <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu" style="overflow-y:auto; max-height:80vh">
                        {% for row in dropdown %}
                          {% if row["type"] == "header" %}
                            {% if row["header_name"] != "Overview" %}
                              <li class="divider"></li>
                            {% endif %}
                            <li class="dropdown-header">
                              {{ row["header_name"] }}
                            </li>
                          {% else %}
                            <li>
                              <a href="{{ url_for(row['nav_page'], **row['nav_kwargs']) }}">
                                {{ row["nav_display"] }}
                              </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                    
                    {% else %}
                      {% set item = pages["non_dropdown"][0] %}
                      <li {% if active %} class="active" {% endif %}>
                      <a href="{{ url_for(item['nav_page']) }}">
                        {{ main_nav_display }}
                      </a>
                    </li>                  
                    {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
    </nav>
      
    <div class="page-header"> 
      <h1>{% block header %}{% endblock %}</h1>
    </div>      
    <div class="content">
        {% block content %}{% endblock %}
    </div>
      
    <footer>
      <!-- <a href="https://github.com/paulhkoester16/jamdb">Github source</a>a -->
    </footer>
  </body>
</html>
