{%
    set nav = ({
        "overview_songs": "Songs",
        "overview_players": "Players",
        "overview_event_occs": "Events",
        "overview_event_series": "Event Series",
    })
%}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>{% block title %}{% endblock %}</title>

    <style>
      .page-header {
          padding-top: 25px;
      }
        
      .sticky_thead {
          position: sticky;
          top: 40px;
          background-color: #ffffff;
      }

    </style>

  </head>

  <body>
    <nav>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>  
              <a class="navbar-brand" href="{{ url_for('index') }}">Jamming DB</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                {% for nav_page, display_name in nav.items() %}
                <li {% if page_name == nav_page %} class="active" {% endif %}>
                    <a href="{{ url_for(nav_page) }}">{{ display_name }}</a>
                </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </nav>
    </nav>

      
    <div class="page-header"> 
      <h1>{% block header %}{% endblock %}</h1>
    </div>      
    <div class="content">
        {% block content %}{% endblock %}
    </div>
      
    <footer>
      <!-- <a href="https://github.com/paulhkoester16/jamdb">Github source</a>a -->
    </footer>
  </body>
</html>
