{% extends 'base.html' %}

{% set public_name = person["public_name"] %}
{% set title = song %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">  
      <div class="col-lg-6">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4>Full name</h4>
            {{ person["full_name"] }}
          </a>
          <a href="#" class="list-group-item">
            <h4>Public name</h4>
            {{ person["public_name"] }}
          </a>
        </div>

        {% if person["contacts"]|length > 0 %}
          <h3>Contact Informations</h3>
          {% for contact_type, contact_links in person["contacts"].items() %}
            {% if contact_links|length > 0 %}
              <h4>{{ contact_type }}</h4>
              <div class="list-group">
                {% for contact_link in contact_links %}
                  <a href="{{ contact_link }}" class="list-group-item">
                    {{ contact_link }}
                  </a>
                {% endfor %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}

        {% if person["instruments"]|length > 0 %}
          <h3>Instruments played</h3>
          <div class="list-group">              
            {% for inst in person["instruments"] %}
              <a href="#" class="list-group-item">              
                {{ inst }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
          
      </div>
      <div class="col-lg-6">
        {% for img_link in person["pictures"] %}
          <img src="{{ img_link }}" class="img-fluid" alt="Pic of {{ public_name }}">
        {% endfor %}
        
        <h3>Events I've seen {{ public_name }} at:</h3>
        <div class="list-group">
          {% for event in person["event_occs"] %}
            <a href="{{ url_for('detail_event_occ', event_occ_id=event['event_occ_id']) }}" class="list-group-item">
              {{ event["event_occ"] }}
            </a>
          {% endfor %}
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6">
        <h3>Songs I've played with {{ public_name }}: </h3>
        <div class="list-group">          
          {% for event_id, songs in person["songs_performed_with_me"] %}
            {% for song in songs %}        
              <a href="{{ url_for('detail_performed_song', song_perform_id=song['song_perform_id']) }}"
                 class="list-group-item">
                {{ song["song"] }} (at {{ song["event_occ"] }})
              </a>
            {% endfor %}
          {% endfor %}
        </div>
      </div>

      <div class="col-lg-6">
        <h3>Other songs I've seen {{ public_name }} play:</h3>
        <div class="list-group">          
          {% for event_id, songs in person["songs_performed_without_me"] %}
            {% for song in songs %}        
              <a href="{{ url_for('detail_performed_song', song_perform_id=song['song_perform_id']) }}"
                 class="list-group-item">
                {{ song["song"] }} (at {{ song["event_occ"] }})
              </a>
            {% endfor %}
          {% endfor %}
        </div>
      </div>        

    </div>
  </div>
{% endblock %}