{% extends 'base.html' %}

{% set event_gen = event["event_gen"] %}
{% set title = event_gen %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">  
      <div class="col-lg-6">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4>Event Series</h4>
            {{ event_gen }}
          </a>
          <a href="#" class="list-group-item">
            <h4>Event Genre</h4>
            {{ event["event_genre"] }}
          </a>
          <a href="#" class="list-group-item">
            <h4>Date / time</h4>
            {{ event["event_gen_date"] }} </br>
            {{ event["event_gen_time"] }}
          </a>
          <a href="{{ url_for('detail_venue', venue_id=event['venue_id']) }}" class="list-group-item">
            <h4>Venue</h4>
            {{ event["venue_name"] }}
          </a>
          {% if event["host_id"] != "unknown_host" %}
            <a href="{{ url_for('detail_person', person_id=event['host_id']) }}" class="list-group-item">
              <h4>Host</h4>
              {{ event["host_public_name"] }}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-6">
        <h3>Instances that I've attended</h3>
        <div class="list-group">
          {% for occ in event["event_occs"] %}
            <a href="{{ url_for('detail_event_occ', event_occ_id=occ['event_occ_id']) }}" class="list-group-item">
              {{ occ['event_occ'] }}
            </a>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
{% endblock %}