{% extends 'base.html' %}

{% set song_name = song["song"] %}
{% set title = song_name %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <dl>
          <dt> Song </dt>
          <dd>- 
            <a href="{{ url_for('detail_song', song_id=song['song_id']) }}">
              {{ song_name }}
            </a>
          </dd>
          <dt> Event </dt>
          <dd>- 
            <a href="{{ url_for('detail_event_occ', event_occ_id=song['event_occ_id']) }}">
              {{ song['event_occ'] }}
            </a>
          </dd>
          <dt> Date </dt>
          <dd>- {{ song["event_occ_date"] }}</dd>
          <dt> Performers </dt>
            {% for player in song["players"] %}
              <dd>
                - <a href="{{ url_for('detail_person', person_id=player['person_id']) }}">
                  {{ player['public_name']}}
                </a>  
                  {{ ", ".join(player["instruments"]) }}
              </dd>
            {% endfor %}
        </dl>
      </div>
      <div class="col-lg-6">
        {% for video in song['videos'] %}
          {% if 'embed_link' in video %}
           <iframe height="100%" src="{{ video['embed_link'] }}"></iframe>
          {% else %}
          <a href="{{ video['link'] }}"> {{ video['link'] }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}