{% extends 'base.html' %}

{% set title = "Overview of Event Series" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <table class="table table-bordered table-striped">
    <head><tr><th>Details</th><th>Instances that I've attended</th></tr></head>
    {% for summary in summaries %}
      <body id="myTable">
        <tr>
          <td>
            <dl>
              <dt>Event Series</dt>
              <dd>- <a href="{{ url_for('detail_event_gen', event_gen_id=summary['event_gen_id']) }}">
                {{ summary['event_gen'] }}</a>
              </dd>
              <dt>When</dt>
              <dd>- {{ summary['event_gen_time'] }} </dd>
              <dd>- {{ summary['event_gen_date'] }} </dd>
              <dt>Venue</dt>
              <dd>- <a href="{{ url_for('detail_venue', venue_id=summary['venue_id']) }}">
                  {{ summary['venue_name'] }}</a>
              </dd>
              <dt>Host</dt>
              <dd>- <a href="{{ url_for('detail_person', person_id=summary['host_id']) }}">
                  {{ summary['host_public_name'] }}</a>
              </dd>
            </dl>
          </td>
          <td>
            <ul>
              {% for event in summary['event_occs'] %}
              <li>
                <a href="{{ url_for('detail_event_occ', event_occ_id=event['event_occ_id']) }}">
                  {{ event["event_occ"] }}
               </a>
              </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </body>
    {% endfor %}
    </table>
  </div>

  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

{% endblock %}