{% extends 'base.html' %}

{% set title = "Overview of Players" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}


{% block content %}
  <div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <table class="table table-bordered table-striped">
      <thead class="sticky_thead">
        <tr>
          <th>Name</th>
          <th>Instruments</th>
          <th>Events I've seen them at</th>
          <th>Songs I've seen them play</th>
        </tr>
      </thead>
      <tbody id="myTable">        
        {% for summary in summaries %}
          <tr>
            <td>
              <a href="{{ url_for('detail_player', person_id=summary['person_id']) }}" class="list-group-item">              
                {{ summary['public_name'] }}
                {% if summary['public_name'] != summary['full_name'] %}
                  ({{ summary['full_name'] }})
                {% endif %}
              </a>
            </td>
            <td>
              <ul>
                {% for inst in summary["instruments"] %}
                  <li>{{ inst }}</li>
                {% endfor %}              
              </ul>
            </td>
            <td class="list-group">
              {% for event in summary['event_occs'] %}
                <a href="{{ url_for('detail_event_occ', event_occ_id=event['event_occ_id']) }}" class="list-group-item">
                  {{ event["event_occ"] }}
               </a>
              {% endfor %}
            </td>
            <td class="list-group">
              {% for song in summary["songs_perform"] %}
                <a href="{{ url_for('detail_performed_song', song_perform_id=song['song_perform_id']) }}" class="list-group-item">
                  {{ song["song"] }}
                </a>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}        
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

{% endblock %}