{% extends 'base.html' %}

{% set title = "Overview of Players" %}
{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}


{% block content %}
  <div class="container">
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <table class="table table-bordered table-striped">
    <head><tr><th>Details</th><th>Events I've seen them at</th><th>Songs I've seen them play</th></tr></head>
    {% for summary in summaries %}
      <body id="myTable">
        <tr>
          <td>
            <dl>
              <dt>Full name</dt>
              <dd>- <a href="{{ url_for('detail_person', person_id=summary['person_id']) }}">
                  {{ summary['full_name'] }}</a>
              <dt>Public name</dt>
              <dd>- {{ summary['public_name'] }}</dd>
              <dt>Instruments</dt>
              {% for inst in summary["instruments"] %}
                <dd>- {{ inst }}<dd>
              {% endfor %}
            </dl>
          </td>
          <td>
            <ul>
              {% for event in summary['event_occs'] %}
              <li>
                <a href="{{ url_for('detail_event_occ', event_occ_id=event['event_occ_id']) }}">
                  {{ event["event_occ"] }}
               </a>
              </li>
              {% endfor %}
            </ul>
          </td>
          <td>
            <ul>
              {% for song in summary["song_performs"] %}
                <li> 
                  <a href="{{ url_for('detail_performed_song', song_perform_id=song['song_perform_id']) }}">
                    {{ song["song"] }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </body>
    {% endfor %}
    </table>
  </div>

  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

{% endblock %}