{% extends 'base.html' %}

{% set name = song["song"] %}
{% set title = name %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4>Song</h4>
            {{ name }}
          </a>

          {% if song['key'] is not none and song['key']['keyName'] != "" %}
            <a href="#" class="list-group-item">
              <h4>Typical key</h4>
              {{ song['key']['keyName'] }}
            </a>
          {% endif %}

          {% if song['subgenre'] is not none and song['subgenre']['subgenreName'] != "" %}
            <a href="#" class="list-group-item">
              <h4>Genre</h4>
              {{ song['subgenre']['subgenreName'] }}
            </a>
          {% endif %}
        </div>

        {% if song.get('songPerforms', []) != [] %}
          <h3>Performances</h3>
          <div>
            {% for perf in song['songPerforms'] %}
              <a href="{{ url_for('detail_performed_song', song_perform_id=perf['id']) }}"
                class="list-group-item">
                Performed at {{ perf['eventocc']['name'] }}
              </a>
            {% endfor %}
          </div>
        {% endif %}        
      </div>

      <div class="col-lg-4">
        {% if song.get('charts', []) != [] %}
          <div>
            <h3>Charts</h3>
            {% for chart in song['charts'] %}
              {% if chart.get('embeddableLink', '') != '' %}
                <iframe height="100%" src="{{ chart['embeddableLink'] }}"></iframe>
              {% endif %}
              <a href="{{ chart['link'] }}" class="list-group-item">
                {{ chart['link'] }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="col-lg-4">
        {% if song.get('refRecs', []) != [] %}
          <div>
            <h3>Reference Recordings</h3>          
            {% for video in song['refRecs'] %}
              {% if video.get('embeddableLink', '') != ''  %}
                <iframe style="border-radius:12px" src="{{ video['embeddableLink'] }}" width="100%" height="250" frameBorder="0"
                    allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
              {% endif %}
              <a href="{{ video['link'] }}" class="list-group-item">
                {{ video['link'] }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}