{% extends 'base.html' %}

{% set name = event["name"] %}
{% set title = name %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">  
      <div class="col-lg-6">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4>Event</h4>
            {{ name }}
          </a>
          <a href="#" class="list-group-item">
            <h4>Date</h4>
            {{ event["date"] }}
          </a>
          <a href="{{ url_for('detail_event_series', event_gen_id=event['eventgen']['id']) }}" class="list-group-item">
            <h4>Event Series</h4>
            {{ event["eventgen"]["name"] }}
          </a>
          <a href="{{ url_for('detail_venue', venue_id=event['eventgen']['venue']['id']) }}" class="list-group-item">
            <h4>Venue</h4>              
            {{ event["eventgen"]["venue"]["venue"] }}
          </a>
        </div>

        <h3>Songs performed</h3>
        <div class="list-group">
          {% for song in event["songPerforms"] %}
            <a href="{{ url_for('detail_performed_song', song_perform_id=song['id']) }}" class="list-group-item">
              {{ song["song"]["song"] }}
            </a>
          {% endfor %}
        </div>

      </div>
      <div class="col-lg-6">       
        <h3>Attendees</h3>
        <div class="list-group">
          {% for player in event["players"] %}
            <a href="{{ url_for('detail_player', person_id=player['person']['id']) }}" class="list-group-item">
              {{ player["person"]["publicName"] }}
              <ul>
                {% for inst in player["instrumentList"] %}
                  <li>{{ inst }}</li>
                {% endfor %}
              </ul>
            </a>
          {% endfor %}
      </div>
    </div>
        
    </div>
  </div>
{% endblock %}