{% extends 'base.html' %}

{% set song_name = song["song"] %}
{% set title = song_name %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4>Song</h4>
            {{ song_name }}
          </a>

          {% if song['key'] != "" %} 
            <a href="#" class="list-group-item">
              <h4>Typical key</h4>
              {{ song["key"] }}
            </a>
          {% endif %}

          {% if song['genre'] != "" %}
            <a href="#" class="list-group-item">
              <h4>Genre</h4>
              {{ song["genre"] }}
            </a>
          {% endif %}
        </div>

        {% if song.get('song_performs', []) != [] %}
          <h3>Performances</h3>
          <div>
            {% for perf in song['song_performs'] %}
              <a href="{{ url_for('detail_performed_song', song_perform_id=perf['song_perform_id']) }}"
                class="list-group-item">
                Performed at {{ perf['event_occ'] }}
              </a>
            {% endfor %}
          </div>
        {% endif %}        
      </div>

      <div class="col-lg-4">
        {% if song.get('charts', []) != [] %}
          <div>
            <h3>Charts</h3>
            {% for chart in song['charts'] %}
              {% if 'embed_link' in chart %}
                <iframe height="100%" src="{{ chart['embed_link'] }}"></iframe>
              {% endif %}
              <a href="{{ chart['link'] }}" class="list-group-item">
                {{ chart['link'] }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="col-lg-4">
        {% if song.get('reference_recordings', []) != [] %}
          <div>
            <h3>Reference Recordings</h3>          
            {% for video in song['reference_recordings'] %}
              {% if 'embed_link' in video %}
                <iframe style="border-radius:12px" src="{{ video['embed_link'] }}" width="100%" height="250" frameBorder="0"
                    allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
              {% endif %}
              <a href="{{ video['link'] }}" class="list-group-item">
                {{ video['link'] }}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock %}