{% extends 'base.html' %}

{% set event_occ = event["event_occ"] %}
{% set title = event_occ %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">  
      <div class="col-lg-6">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4>Event</h4>
            {{ event_occ }}
          </a>
          <a href="#" class="list-group-item">
            <h4>Date</h4>
            {{ event["event_occ_date"] }}
          </a>
          <a href="{{ url_for('detail_event_series', event_gen_id=event['event_gen_id']) }}" class="list-group-item">
            <h4>Event Series</h4>
            {{ event["event_gen"] }}
          </a>
          <a href="{{ url_for('detail_venue', venue_id=event['venue_id']) }}" class="list-group-item">
            <h4>Venue</h4>              
            {{ event["venue_name"] }}
          </a>
        </div>

        <h3>Songs performed</h3>
        <div class="list-group">
          {% for song in event["songs"] %}
            <a href="{{ url_for('detail_performed_song', song_perform_id=song['song_perform_id']) }}" class="list-group-item">
              {{ song["song"] }}
            </a>
          {% endfor %}
        </div>

      </div>
      <div class="col-lg-6">       
        <h3>Attendees</h3>
        <div class="list-group">
          {% for person in event["players"] %}
            <a href="{{ url_for('detail_player', person_id=person['person_id']) }}" class="list-group-item">
              {{ person["public_name"] }}
              <ul>
                {% for inst in person["instruments"] %}
                  <li>{{ inst }}</li>
                {% endfor %}
              </ul>
            </a>
          {% endfor %}
      </div>
    </div>

    </div>
  </div>
{% endblock %}