{% extends 'base.html' %}

{% set venue_name = venue["venue"] %}
{% set title = venue_name %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Hosted events / series</h3>
        <div class="list-group">
          {% for event in venue["hostedEventSeries"] %}
            <a href="{{ url_for('detail_event_series', event_gen_id=event['id']) }}" class="list-group-item">
                {{ event['name'] }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-6">
        <a href="{{ venue['googleMapString'] }}" class="list-group-item">
          <h4>Address</h4>
          {{ venue["addressString"] }}
        </a>
        <a href="{{ venue['web'] }}" class="list-group-item">
          <h4>Web</h4>
          {{ venue['web'] }}
        </a>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="{{ venue['web'] }}" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
{% endblock %}