{% extends 'base.html' %}

{% set name = event["name"] %}
{% set title = name %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">  
      <div class="col-lg-6">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h4>Event Series</h4>
            {{ name }}
          </a>
          <a href="#" class="list-group-item">
            <h4>Event Genre</h4>
            {{ event["genre"]["genre"] }}
          </a>
          <a href="#" class="list-group-item">
            <h4>Date / time</h4>
            {{ event["date"] }} </br>
            {{ event["time"] }}
          </a>
          <a href="{{ url_for('detail_venue', venue_id=event['venue']['id']) }}" class="list-group-item">
            <h4>Venue</h4>
            {{ event["venue"]["venue"] }}
          </a>
          {% if event["host"]["id"] != "unknown_host" %}
            <a href="{{ url_for('detail_player', person_id=event['host']['id']) }}" class="list-group-item">
              <h4>Host</h4>
              {{ event["host"]["publicName"] }}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-6">
        <h3>Instances that I've attended</h3>
        <div class="list-group">
          {% for occ in event["eventOccs"] %}
            <a href="{{ url_for('detail_event_occ', event_occ_id=occ['id']) }}" class="list-group-item">
              {{ occ['name'] }}
            </a>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>
{% endblock %}