{% extends 'base.html' %}

{% set title = "Jamming DB Homepage" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">  
      A database and flask app for tracking what songs I've played, who I've played with, when and where I've played, and other such stuff.</br>

      <a href="https://github.com/paulhkoester16/jamdb">https://github.com/paulhkoester16/jamdb</a>
    </div>
  </div>

{% endblock %}