{% extends 'base.html' %}

{% set title = "Overview of Event Series" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead class="sticky_thead">
        <tr>
          <th>Series</th>
          <th>Venue</th>
          <th>Host</th>
          <th>Instances I've attended</th>
        </tr>
      </thead>
      <tbody id="myTable">        
        {% for summary in summaries %}
          <tr>
            <td>
              <a href="{{ url_for('detail_event_series', event_gen_id=summary['id']) }} "class="list-group-item">
                  {{ summary['name'] }} <br/>
                  {{ summary['time'] }} <br/>
                  {{ summary['date'] }} <br/>
              </a>
            </td>
            <td>
              <a href="{{ url_for('detail_venue', venue_id=summary['venue']['id']) }}" class="list-group-item">
                {{ summary['venue']['venue'] }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('detail_player', person_id=summary['host']['id']) }}" class="list-group-item">
                {{ summary['host']['publicName'] }}
              </a>
            </td>
            <td class="list-group">
              {% for event in summary['eventOccs'] %}
                <a href="{{ url_for('detail_event_occ', event_occ_id=event['id']) }}" class="list-group-item">
                  {{ event["name"] }}
                </a>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}