{% extends 'base.html' %}

{% set title = "Overview of Players" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}


{% block content %}
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead class="sticky_thead">
        <tr>
          <th>Name</th>
          <th>Instruments</th>
          <th>Events I've seen them at</th>
          <th>Songs I've seen them play</th>
        </tr>
      </thead>
      <tbody id="myTable">        
        {% for summary in summaries %}
          <tr>
            <td>
              <a href="{{ url_for('detail_player', person_id=summary['id']) }}" class="list-group-item">              
                {{ summary['combinedName'] }}
              </a>
            </td>
            <td>
              <ul>
                {% for inst in summary["instrumentList"] %}
                  <li>{{ inst }}</li>
                {% endfor %}              
              </ul>
            </td>
            <td class="list-group">
              {% for event in summary['eventsAttended'] %}
                <a href="{{ url_for('detail_event_occ', event_occ_id=event['id']) }}" class="list-group-item">
                  {{ event["name"] }}
               </a>
              {% endfor %}
            </td>
            <td class="list-group">
              {% for song in summary["songPerforms"] %}
                <a href="{{ url_for('detail_performed_song', song_perform_id=song['id']) }}" class="list-group-item">
                  {{ song["song"]["song"] }}
                </a>
              {% endfor %}
            </td>
          </tr>
        {% endfor %}        
      </tbody>
    </table>
  </div>

{% endblock %}