{% extends 'base.html' %}

{% set title = "Overview of Songs" %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ title }}{% endblock %}

{% block content %}
  <div class="container">
    <table class="table table-bordered table-striped">
      <thead class="sticky_thead">
        <tr>
          <th>Song</th>
          <th>Typical Key</th>
          <th>Genre</th>
          <th>Performances</th>
        </tr>
      </thead>
      <tbody id="myTable">
        {% for summary in summaries %}
          <tr>
            <td>
              <a href="{{ url_for('detail_song', song_id=summary['song_id']) }}" class="list-group-item">
                {{ summary["song"]}}
              </a>
            </td>
            <td>
              {% if summary['key'] != "" %} 
              {{ summary['key'] }}
              {% endif %}              
            </td>
            <td>
              {% if summary['genre'] != "" %}
              {{ summary['genre'] }}
              {% endif %}
            </td>
            <td class="list-group">
                {% for song in summary["song_performs"] %}
                  <a href="{{ url_for('detail_performed_song', song_perform_id=song['song_perform_id']) }}" class="list-group-item">
                      Performed at {{ song["event_occ"] }}
                  </a>
                {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}